html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}


/* .cormorant {
  font-family: "Cormorant", serif;
} */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  color: #151618;
}


.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
  padding: 30px 0;
}

.header__logo {
  margin-bottom: 35px;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 65px;
  font-weight: 400;
  font-size: 18px;
  margin-left: 90px;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.user-actions__item-search {
  margin-left: 80px;
}

.mein {}

.top {
  background-image: url(../images/top-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}


.top__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 500px;
  font-family: "Cormorant", serif;
  font-weight: 400;
  color: #fff;
}

.top__title {
  max-width: 780px;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1;
}

.top__text {
  max-width: 560px;
  font-size: 24px;
  margin-bottom: 48px;
  line-height: normal;
}


.blockquote__text {
  max-width: 704px;
  font-family: "Cormorant", serif;
  font-style: italic;
  font-size: 40px;
  text-align: center;
  color: #151618;
  margin: 0 auto;
  padding-top: 150px;
}